# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build output
build
dist

# Logs
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary files
.DS_Store
Thumbs.db
*.tmp
*.temp

# IDE and editor files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Docker files
Dockerfile
docker-compose.yml

# Other files to ignore
coverage
*.tgz

# README.md
README.md

# Client folder
backend
frontend